$dark-theme: true !default;
$background-color: #3b4858 !default;
$chat-header: #161616;
$link-color: #97afcc;
$primary-color: rgba(59, 72, 88, 0.8) !default;
$text-color: #edeff2 !default;
$text-critical: rgb(202, 58, 58);
$accent-color: #6a1b9a !default;
