.active-btn {
  filter: invert(29%) sepia(7%) saturate(5213%) hue-rotate(174deg)
    brightness(96%) contrast(85%);
}

.chat-icons {
  width: 2rem;
  height: 2rem;
  -webkit-user-drag: none;
  &:hover {
    filter: invert(29%) sepia(7%) saturate(5213%) hue-rotate(174deg)
      brightness(96%) contrast(85%);
  }
  cursor: pointer;
}
