@use "./colors" as colors;
@use "./variables" as variables;

@import "./mixins";

textarea {
  &.chat-textarea {
    border-radius: 1rem;
    height: 100%;
    line-height: normal;
    opacity: 1;
    border: none;
    color: colors.$text-color;
    font-size: 1rem;
  }
}
