@use "./colors" as colors;
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap");

*:not(.pi) {
  font-family: "Frank Ruhl Libre", serif !important;
  font-weight: normal;
  text-decoration: none;
}

li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-size: 1rem;
  color: colors.$text-color;
  display: inline-block;
}

a,
a:visited,
a:focus,
a:active {
  color: colors.$link-color;
}
