#room-list-container {
  margin-top: 1rem;
  margin-left: 1rem;
  min-width: 20rem;
  flex-grow: 1;
}

#room-list-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  button {
    height: 3rem;
    width: 3rem;
  }
}
