@use "../../../styles/variables.scss" as variables;

#app-header {
  width: 100%;
  height: variables.$header-height;
  display: inline-flex;
  justify-content: flex-end;

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    li {
      text-transform: uppercase;
      padding: 1rem;

      &:last-child {
        padding-right: 10rem;
      }

      &:hover {
        text-decoration-line: underline;
        text-underline-offset: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
