<div class="chat-input-box-wrapper">
  <img
    class="chat-icons"
    (click)="toggled = !toggled"
    [(emojiPickerIf)]="toggled"
    [emojiPickerDirection]="'top'"
    (emojiPickerSelect)="handleSelection($event)"
    id="emoji-select-btn"
    src="../../../../../assets/feather-smile.svg"
    alt="emoji"
  />
  <textarea
    [rows]="1"
    [cols]="30"
    [autoResize]="true"
    class="chat-textarea"
    pInputTextarea
  ></textarea>
  <img
    class="chat-icons"
    src="../../../../../assets/awesome-paper-plane.svg"
    alt="send"
  />
</div>
