.chat-input-box-wrapper {
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem;

  textarea {
    max-height: 6rem;
    flex: 1 1 auto;
  }

  .chat-icons {
    margin-bottom: 2px;
  }
}
