@use "../../../../../styles/colors" as colors;

.message-wrapper {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 0.5rem 0.25rem;
  padding-right: 3rem;
  border-radius: 0.5rem;
  min-width: 10rem;
  max-width: 80%;
  display: inline-block;
  position: relative;

  &__addresser {
    color: colors.$text-color;
    display: block;
  }

  &__content {
    word-break: break-word;
    display: block;
    font-size: 1rem;
  }

  &__time {
    position: absolute;
    bottom: 0.1rem;
    right: 0.25rem;
    font-size: 0.75rem;
    color: colors.$text-color;
  }

  &--own {
    background-color: colors.$own-messages;
    align-self: flex-end;
  }

  &--others {
    background-color: colors.$other-messages;
  }
}
