<p-overlayPanel #overlayPanel>
  <ng-template pTemplate>
    <div id="chat-info-container">
      <div id="chat-info-container-summary">
        <div id="chat-info-container-summary__image">
          <img src="../../../../assets/covid.jpeg" alt="room-image" />
        </div>
        <div id="chat-info-container-summary__general">
          <h4>Убийцы ковида</h4>
          <div id="chat-info-members">
            <p>1.5K Members</p>
            <p>200 Members Online</p>
          </div>
        </div>
      </div>
      <div id="chat-info-container-about">
        <h5>Share Link</h5>
        <a href="https://javascript.plainenglish.io"
          >https://javascript.plainenglish.io</a
        >
        <h5>About</h5>
        <p>
          Задача организации, в особенности же постоянное
          информационно-пропагандистское обеспечение нашей деятельности
          способствует подготовки и реализации дальнейших направлений развития.
        </p>
      </div>
      <div id="chat-info-container-action-buttons">
        <button pButton type="button" label="Mute"></button>
        <button pButton type="button" label="Report"></button>
        <button
          pButton
          class="p-button--critical"
          type="button"
          label="Leave"
        ></button>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
