@use "./styles/colors" as colors;
@import "./styles/mixins";

#chat-layout {
  display: flex;
  flex-direction: row;
}

#room-list-layout {
  flex-grow: 1;
}

#chat-container {
  flex-grow: 6;
  border-radius: 1.5rem;
  margin: 1rem 1rem 0rem 1rem;
  background: colors.$primary-color;
  overflow: hidden;
  @include component-box-shadow;
}
