@use "../../../../styles/variables" as variables;
@use "../../../../styles/colors" as colors;
@import "../../../../styles/mixins";

#chat-header {
  background: colors.$chat-header;
  height: variables.$searchbar-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.summary-block {
  height: 70%;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    -webkit-user-drag: none;
    &:hover {
      filter: invert(29%) sepia(7%) saturate(5213%) hue-rotate(174deg)
        brightness(96%) contrast(85%);
    }
  }

  &__image-placeholder {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;

    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__title {
    padding-left: 1rem;
  }
}
