<div id="chat-header">
  <div class="summary-block" (click)="groupInfoOverlay.toggleOverlay($event)">
    <div class="summary-block__image-placeholder">
      <img
        src="../../../../assets/covid.jpeg"
        alt="room-image"
        class="chat-icons"
      />
    </div>
    <h4 class="summary-block__title">Убийцы ковида</h4>
  </div>
  <div
    class="summary-block"
    (click)="membersSidebarOpened.emit((membersSidebar = !membersSidebar))"
  >
    <img
      src="../../../../assets/icon-users.svg"
      alt="users"
      [class.active-btn]="membersSidebar"
    />
    <h4 class="summary-block__title">10.5K</h4>
  </div>
</div>
<app-group-information #groupInfoOverlay></app-group-information>
