/* You can add global styles to this file, and also import other style files */
@use "./app/styles/colors" as colors;
@import "./app/styles/fonts";
@import "./app/styles/overlayPanel";
@import "./app/styles/buttons";

html,
body {
  //   background-color: colors.$background-color;
  background-image: url("./assets/blue-polygon.jpg");
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
