/* You can add global styles to this file, and also import other style files */
@use "./app/styles/colors" as colors;
@import "./app/styles/fonts";
@import "./app/styles/overlayPanel";
@import "./app/styles/buttons";
@import "./app/styles/scrollbar";
@import "./app/styles/icons";
@import "./app/styles/textarea";
@import "./app/styles/dialog";
html,
body {
  //   background-color: colors.$background-color;
  background-image: url("./assets/blue-polygon.jpg");
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

emoji-picker {
  transform: translate(0px, -35px) !important;
  * {
    background: colors.$chat-header !important;
  }

  emoji-content {
    border-radius: 0.75rem !important;
  }

  emoji-header {
    border-bottom: none !important;
    border-radius: 0.75rem !important;
  }
  emoji-footer {
    border-radius: 0.75rem;

    .emoji-footer {
      border-top: none !important;
      border-radius: 0.75rem !important;
    }
  }

  .emoji-category {
    color: colors.$text-color !important;
  }

  input {
    color: colors.$text-color;
    border-radius: 5px;
  }
}
